<div class="container">
  <br>
  <h1 сlass="question"><u>Як з нами зв'язатися?</u></h1>
  <hr/>
  <h1 class="post">Електронна пошта: <a href="">crudhotdog@email.com</a></h1>
  <h1 class="post">Номер телефону: +380123456789</h1>
  <h1 class="post">Skype: <a href="#">crudhotdog</a></h1>
  <br>
  <h1 сlass="question"><u>Ми у соцмережах</u></h1>
  <hr/>
  <h1 class="post">Instagram: <a href="#">https://www.instagram.com/crud hotdog</a> </h1>
  <h1 class="post">Facebook: <a href="#">https://www.facebook.com/crud hotdog</a> </h1>
  <h1 class="post">Twitter: <a href="#">https://twitter.com/crud hotdog</a> </h1>
  <br>
  <h1 сlass="question"><u>Де нас знайти?</u></h1>
  <hr/>
  <h1 class="post">Поштова адреса:</h1>
  <h1 class="post">01234, м.Львів вул.Львівська 100</h1>
  <br>
  <iframe src="https://www.google.com/maps/d/embed?mid=1WYxMwy-E-iiwTxOvcCL8husEyGHLR-B3" width="640" height="480"></iframe>
  <div >
    <br>
  </div>
</div>
